<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="vendornew_productlisting" frontName="vendornew_productlisting">
            <module name="VendorNew_ProductListing" />
        </route>
    </router>
</config>